/* src/components/ArticleCard.module.css */
.card {
  border: 1px solid #ddd;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

body.dark .card {
  border-color: #333;
}

.card img {
  width: 100%;
  height: auto;
}

.content {
  padding: 1rem;
}

.content h3 {
  margin-top: 0;
}
