/* src/components/MainLayout.module.css */
.mainContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .mainContent {
    grid-template-columns: 3fr 1fr;
  }
}
